@model CreateBannerDto
@{
    ViewData["Title"] = "Yeni Banner Alanı Ekle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <div>
        <label>Resim Seçiniz</label>
        <input type="file" asp-for="ImageFile" class="form-control" />
    </div>
    <br />

    <div>
        <label>Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <br />

    <div>
        <label>Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />

    <div class="text-center">
        <button class="btn btn-success">Kaydet</button>
    </div>
</form>

