@model List<ResultRoleDto>

@{
    ViewData["Title"] = "Roller";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}


@{
    int count = 0;
}

<div class="alert alert-info">
    <h5>Sitenin işleyişi açısından Rol isimleri şu şekilde olmalıdır : <strong>Admin, Manager, User</strong></h5>
</div>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rol</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td><a asp-action="DeleteRole" asp-route-id="@item.Id" asp-area="Admin" class=" btn btn-danger"><i class="fa fa-trash"></i> Sil</a></td>
        </tr>
    }
</table>

<div class="text-center">
    <a asp-action="CreateRole" asp-controller="Role" asp-area="Admin" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Yeni Rol Ekle</a>
</div>

