@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">Cental <span class="text-primary">Hakkında</span></h1>
                        <br />
                        <p class="mb-0">
                            Biz, araç kiralama hizmetlerinde mükemmeliyeti hedefleyen bir ekibiz. Müşterilerimize en iyi deneyimi sunmayı ilke edinerek, her türlü yolculuk ihtiyacına uygun araç seçenekleri sunuyoruz. Konforlu, güvenli ve bütçenize uygun araçlarla, yolculuğunuzun keyfini çıkarabilirsiniz.
                        </p>
                        <br />
                        <p>
                            Her adımda müşteri memnuniyetini ön planda tutarak, kolay rezervasyon süreçleri, zamanında teslimat ve profesyonel hizmet anlayışımızla fark yaratıyoruz. Amacımız, araç kiralama deneyiminizi olabildiğince hızlı, güvenilir ve sorunsuz hale getirmektir.
                        </p>
                        <br />
                        <p>
                            Siz de bize güvenerek, rahat ve konforlu yolculuklar yapabilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="https://cdn.cetas.com.tr/Delivery/Public/Image/-1x-1/arac-kiralama_4258138668.jpg" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
