@using Cental.DtoLayer.MessageDtos
@model CreateMessageDto
@*
    _ContactSendMessage
*@

<div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-secondary p-5 rounded">
        <h4 class="text-primary mb-4">Mesaj Gönderin</h4>
        <form asp-action="SendMessage" asp-controller="Contact" method="post">
            <div class="row g-4">
                <div class="col-lg-12 col-xl-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Ad Soyad" required>
                        <label for="Name">Ad Soyad</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                        <label for="Email">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Konu..." required >
                        <label for="Subject">Konu</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Mesajınızı yazınız..." asp-for="MessageContent" style="height: 160px" ></textarea>
                        <label for="MessageContent">Mesaj</label>
                    </div>

                </div>
                <div class="col-12">
                    <button class="btn btn-light w-100 py-3" type="submit" onclick="sendMessage()">Mesaj Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function sendMessage() {

        Swal.fire({
            title: "Mesajınız başarıyla gönderildi.",
            text: "En kısa sürede geri dönüş yapılacaktır.",
            icon: "success",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Tamam",
            cancelButtonText: "İptal Et"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Contact/Index";
            }
        });
    }
</script>