@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponent")
<body class="">
    <!-- [ Pre-loader ] start -->
    @await Component.InvokeAsync("_AdminLayoutPreLoadingComponent")
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    @await Component.InvokeAsync("_AdminLayoutSidebarComponent")
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    @await Component.InvokeAsync("_AdminLayoutNavbarComponent")
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponent")
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    @await Component.InvokeAsync("_AdminLayoutWarningsComponent")
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    @await Component.InvokeAsync("_AdminLayoutScriptsComponent")
</body>
</html>
