@model ForgotPasswordUserDto
@{
    ViewData["Title"] = "Şifre Sıfırlama";
    Layout = null;
}



@if (ViewBag.State == null)
{
    <form method="post">
        <label>Email adresinizi giriniz : </label>
        <input type="email" asp-for="@Model.Email" />
        <br />
        <div class="text-center">
            <button class="btn btn-danger">Gönder</button>
        </div>
    </form>
}
else
{    @if (ViewBag.State)
    {
        <div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
    }
    else
    {
        <div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
    }
}
    }