@model UpdateAboutDto
@{
    ViewData["Title"] = "Hakkımızda Alanı Bilgi Güncelleme";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="AboutId" />

    <label>Vizyonumuz</label>
    <input type="text" asp-for="Vision" class="form-control" />
    <br />

    <label>Misyonumuz</label>
    <input type="text" asp-for="Mision" class="form-control" />
    <br />

    <label>Üst Açıklama</label>
    <input type="text" asp-for="Description1" class="form-control" />
    <br />

    <label>Alt Açıklama</label>
    <input type="text" asp-for="Description2" class="form-control" />
    <br />

    <label>Kuruluş Yılı</label>
    <input type="number" asp-for="StartYear" class="form-control" />
    <br />

    <label>Tercih edilen Resim 1:</label>
    <br />
    <input type="hidden" asp-for="ImageUrl1" class="form-control" />
    <image src="@Model.ImageUrl1" style="height:100px;width:100px"></image>
    <br /> <br />
    <label>Resim 1 için Yeni Resim Seçiniz</label>
    <br />
    <input type="file" asp-for="ImageFile1" class="form-control" />
    <br />


    <label>Tercih edilen Resim 2:</label>
    <br />
    <input type="hidden" asp-for="ImageUrl2" class="form-control" />
    <image src="@Model.ImageUrl2" style="height:100px;width:100px"></image>
    <br /> <br />
    <label>Resim 2 için Yeni Resim Seçiniz</label>
    <br />
    <input type="file" asp-for="ImageFile2" class="form-control" />
    <br />

    <label>Madde 1</label>
    <input type="text" asp-for="Item1" class="form-control" />
    <br />

    <label>Madde 2</label>
    <input type="text" asp-for="Item2" class="form-control" />
    <br />

    <label>Madde 3</label>
    <input type="text" asp-for="Item3" class="form-control" />
    <br />

    <label>Madde 4</label>
    <input type="text" asp-for="Item4" class="form-control" />
    <br />

    <label>Ad Soyad</label>
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />

    <label>Ünvan</label>
    <input type="text" asp-for="JobTitle" class="form-control" />
    <br />

    <label>Tercih edilen Profil Fotoğrafı:</label>
    <br />
    <input type="hidden" asp-for="ProfilePicture" class="form-control" />
    <image src="@Model.ProfilePicture" style="height:100px;width:100px"></image>
    <br /> <br />
    <label>Profil Fotoğrafı için Yeni Resim Seçiniz</label>
    <br />
    <input type="file" asp-for="ProfilePictureFile" class="form-control" />
    <br />

    <div class="text-center">
        <button class="btn btn-outline-primary">Güncelle</button>
    </div>
</form>



