@model UpdateReviewDto
@{
    ViewData["Title"] = "Araba Değerlendirme Puanı Güncelleme";
    Layout = "~/Areas/User/Views/UserLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ReviewId"/>
    <input type="hidden" asp-for="UserId" />

    <div>
        <label>Puanınızı giriniz : </label>
        <select class="form-control" asp-for="Rating">
            <option selected disabled>Seçim yapınız.</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <br />

    <div>
        <label>Arabanızı seçiniz : </label>
        <select class="form-control" asp-items="@ViewBag.CarList" asp-for="CarId">
            <option selected disabled>Puanlama yapmak istediğiniz aracı seçiniz.</option>
        </select>
    </div>
    <br />

    <div class="text-center">
        <button class="btn btn-outline-primary">Kaydet</button>
    </div>
    <br />
</form>
