@model UpdateBrandDto
@{
    ViewData["Title"] = "Marka Güncelle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    @Html.HiddenFor(x => x.BrandId)
    <label>Marka Adı</label>
    <input type="text" asp-for="BrandName" class="form-control" />
    <span asp-validation-for="BrandName" class="text-danger"></span>
    <br>
    <div class="text-center">
        <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Güncelle</button>
    </div>
</form>
